<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <application
        android:name="com.status.statussaver.StatusSaverApp"
        android:allowBackup="true"
        android:configChanges="locale|layoutDirection"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeActionBar"
        tools:targetApi="31">
        <activity
            android:name="com.status.statussaver.ui.activities.SettingActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="com.status.statussaver.ui.activities.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.status.statussaver.ui.activities.HelperActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.status.statussaver.ui.activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.status.statussaver.ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.status.statussaver.ui.activities.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.status.statussaver.ui.activities.VideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.status.statussaver.ui.activities.SavedPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.status.statussaver.ui.activities.DirectChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.status.statussaver.ui.activities.HelpActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>